<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    {% set menssagem = get_flashed_messages() %}
    {% if menssagem %}
    <div class="flash_alerta">
{{menssagem[0]}}
    </div>
{% endif %}
    <div id="form_fundo">
        <h1>Esqueceu senha</h1>

        <div id="form_frente">
            <form action="/codigo" id="email" method="POST">
           
                <label for="email">Email</label><br>
                <input type="text" name="email" placeholder="Email"><br>
                <label for="email">Código</label><br>
                <button type="submit" id="btn_codigo" onclick="window.location.href='/codigo'">Enviar código</button>

                <input type="text" name="Código" placeholder="Código"><br>

                <label for="senha">Nova Senha</label><br>
                <input type="password" name="senha" placeholder="Senha"><br>
                <button type="button" id="btn_codigo" onclick="window.location.href='/senha'">Gerar Nova Senha</button>
                <button type="button" id="btn_voltar" onclick="window.location.href='/'">Voltar</button>

            </form>
        </div>
    </div>
</body>
</html>