<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    {% set menssagem = get_flashed_messages() %}
    {% if menssagem %}
    <div class="flash_alerta">
{{menssagem[0]}}
    </div>
{% endif %}
    <div id="form_fundo">
        <h1>Login</h1>

        <div id="form_frente">
            <form action="/login" id="login" method="POST">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="Email">
                <label for="senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha">
                <button type="submit" id="btn_login">
         
                    <span></span>Entrar
                    
                </button>
<p><a href="cadastrar">Ainda não é cadastrado?</a></p>

</form>
</div>
</div>
</body>
</html>
