<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7Rxnatzjc3DSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static',filename='css/Video.css')}}" />


</head>

<body>
 
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Sair</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Upload">Upload</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 

<div class="c-loader"></div>



<h1 style="margin-top: 0px;  color: #fff;">Meus vídeos</h1>
    

    <div id="videos-container" style="margin-left: 20px;"></div>

    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script src="https://ajax.googleapis.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.8.0/jszip.min.js"></script>
<script>
 


function showLoadingAnimation() {
    var loadingAnimation = document.querySelector('.c-loader');
    loadingAnimation.style.display = 'block';
}
showLoadingAnimation();
function hideLoadingAnimation() {
    var loadingAnimation = document.querySelector('.c-loader');
    loadingAnimation.style.display = 'none';
}
    

        var userEmail = "{{ session['user_email'] }}";
        var userNome = "{{ session['user_nome'] }}";
        var firebaseConfig = {
            apiKey: "AIzaSyCzKJQhamtH0XAJgK1gvGIFlW7MU9ujm48",
            authDomain: "projeto-drone.firebaseapp.com",
            databaseURL: "https://projeto-drone-default-rtdb.firebaseio.com",
            projectId: "projeto-drone",
            storageBucket: "projeto-drone.appspot.com",
            messagingSenderId: "557356924152",
            appId: "1:557356924152:web:2574dec37d71b47cb20f0d",
            measurementId: "G-N41S4N7B8P"
        };

        firebase.initializeApp(firebaseConfig);
        var messagesRef = firebase.database().ref('Checking');
        var selectedImageURLs = [];
        function loadVideosByDateTime() {
    var rowDiv = document.createElement("div");
    rowDiv.classList.add("row");
    console.log("Iniciando o carregamento de vídeos...");
    messagesRef.orderByChild('date').once('value', function (snapshot) {
        var videos = [];

        snapshot.forEach(function (childSnapshot) {
            var childData = childSnapshot.val();
            var videoUri = childData.imageurl;
            var videoUserEmail = childData.email;

            if (videoUserEmail === userEmail) {
                videos.push({
                    videoUri: videoUri,
                    date: childData.date
                });
            }
        });

        videos.sort(function (a, b) {
            // Converta as datas e horas em objetos Date
            var dateA = parseDate(a.date);
            var dateB = parseDate(b.date);

            return dateA - dateB;
        });

        function parseDate(dateString) {
            // O formato da data é "MM/dd/yyyy, hh:mm:ss a"
            var dateTimeParts = dateString.split(", "); // Separa a data e a hora
            var datePart = dateTimeParts[0].split("/");
            var timePart = dateTimeParts[1].split(" ");

            var month = parseInt(datePart[0], 10) - 1; // Subtrai 1 do mês
            var day = parseInt(datePart[1], 10);
            var year = parseInt(datePart[2], 10);

            var time = timePart[0].split(":");
            var hours = parseInt(time[0], 10);
            var minutes = parseInt(time[1], 10);
            var seconds = parseInt(time[2], 10);

            var isPM = timePart[1].toLowerCase() === "pm";

            if (isPM && hours < 12) {
                hours += 12;
            }

            return new Date(year, month, day, hours, minutes, seconds);
        }
        videos.forEach(function (videoData) {
    var colDiv = document.createElement("div");
    colDiv.classList.add("col-6");

    var videoContainerDiv = document.createElement("div");
    videoContainerDiv.style.textAlign = "center"; // Centraliza o vídeo

    var videoElement = document.createElement("video");
    videoElement.controls = true;
    videoElement.style.maxWidth = "80%"; // Define uma largura máxima para os vídeos
    videoElement.style.display = "block"; // Garante que o vídeo ocupe toda a largura
    videoElement.style.marginTop = "50px";
    videoElement.classList.add("video-with-border");

            var checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.value = videoData.videoUri;
            checkbox.style.transform = "scale(1.5)";
            checkbox.style.marginLeft = "5px";
            checkbox.style.verticalAlign = "middle";
            checkbox.style.marginTop = "1px"; // Ajuste conforme necessário
            checkbox.style.cursor = "pointer";
            checkbox.style.filter = "drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1)";
            checkbox.addEventListener('change', function () {
                if (checkbox.checked) {
                    var selectedVideoUri = checkbox.value;
                    selectedImageURLs.push(selectedVideoUri);
                    console.log("video " + selectedVideoUri);
                }
            });
           
            var label = document.createElement("label");
            label.style.fontSize = "16px";
            label.style.verticalAlign = "middle";

            label.appendChild(checkbox);

            var dateText = document.createElement("span");
            dateText.textContent = "Data e Hora: " + videoData.date;
            dateText.style.marginLeft = "10px";
            dateText.style.color = "white";
            label.appendChild(dateText);

            colDiv.appendChild(videoElement);
            colDiv.appendChild(label);
            rowDiv.appendChild(colDiv);

            firebase.storage().refFromURL(videoData.videoUri).getDownloadURL().then(function (videoUrl) {
                var sourceElement = document.createElement("source");
                sourceElement.src = videoUrl;

                var fileExtension = videoData.videoUri.split('.').pop().toLowerCase;
                if (fileExtension === 'mp4') {
                    sourceElement.type = "video/mp4";
                } else if (fileExtension === 'webm') {
                    sourceElement.type = "video/webm";
                } else if (fileExtension === 'avi') {
                    sourceElement.type = "video/x-msvideo";
                } else if (fileExtension === 'flv') {
                    sourceElement.type = "video/x-flv";
                } else {
                    sourceElement.type = "video/mp4";
                }

                videoElement.appendChild(sourceElement);
            }).catch(function (error) {
                console.error('Erro ao obter a URL do vídeo:', error);
            });
        });
        var videoContainer = document.getElementById('videos-container');
        videoContainer.appendChild(rowDiv);
        hideLoadingAnimation();
        
        var myButton = document.getElementById('downloadButton');
    
    myButton.classList.add('hidden');
    
    setTimeout(function () {
        myButton.classList.remove('hidden');
    }); 
});}

document.addEventListener("DOMContentLoaded", function () {
    loadVideosByDateTime();
});

function downloadVideo() {
    console.log("video " + selectedImageURLs);
    // Implemente o código para o download dos vídeos selecionados aqui.
}

    </script>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 20vh;">
        <button id="downloadButton" class="btn btn-primary hidden" onclick="downloadVideo()">Download</button>
    </div>
</body>

</html>
