body {
    background-color: #f0f0f0;
}
.form-control {
    width: 50%; 
    font-size: 14px; 
    text-align: left;
    margin: 0 auto;            
}
.center-input {
display: flex;
justify-content: center;
}
.form_fundo {
    background-color: #1f2b2a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form_frente {
    text-align: center;
    background-color: #007bff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}
